RAG_APP_ENV=development
RAG_API_HOST=127.0.0.1
RAG_API_PORT=8000

RAG_ENABLE_LEGAL=true
RAG_ENABLE_VNACCS=true
RAG_ENABLE_HS=false
RAG_ENABLE_TARIFF=false
RAG_ENABLE_ORIGIN_PSR=false
RAG_ENABLE_STATISTICS=false

RAG_REQUIRE_EVIDENCE=true
RAG_AGENT_MAX_RETRIES=2

RAG_LLM_PROVIDER=none
RAG_LLM_MODEL=
RAG_OPENAI_API_KEY=

RAG_EMBEDDING_PROVIDER=none
RAG_EMBEDDING_MODEL=
RAG_ENABLE_DENSE_RETRIEVAL=false
RAG_ENABLE_HYBRID_RETRIEVAL=false
RAG_ENABLE_RERANKER=false
